
// Clock
.time {
  font-family: Comic Mono;
  font-weight: bold;
  font-size: 1.2em;
  background-color: $background-alt;
  color: $white;
  border-radius: 5px;
  padding: 0.7rem 0 0.5rem 0;
  margin: 0.5rem 0 0.5rem 0;
}
