// Control Panel
.control {
  padding: 0.5rem;
  font-family: Material Icons;
  font-size: 1.6em;
  background-color: $background-alt;
  border-radius: 5px;
}
.bat {
  font-family: Symbols Nerd Font;
  font-size: 1.2em;
  padding-right: 0.6rem;
  color: $blue;
}
.wifi-icon {
  margin-bottom: 0.2rem;
  color: $magenta;
}
.brightness-icon {
  margin: 0.2rem 0 0.2rem 0;
  color: $yellow;
}
.volume-icon {
  margin: 0.2rem 0 0.2rem 0;
  color: $green;
}
