@import "themes/rose-pine.scss";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: $font;
  font-size: 13px;
  border: none;
  border-radius: 0px;
}

@import "widgets/window.scss";
@import "widgets/general.scss";
@import "widgets/workspaces.scss";
@import "widgets/battery.scss";


label:focus {
    background-color: #000000;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
  }
