window#waybar {
  //background-color: $background; 
  background: transparent;
  
  color: $text;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}
